## Let's pull some data from the wikipedia page for Canadian Postal Codes

In [159]:
import pandas as pd

list = pd.read_html("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M", )

### now let's convert the list into a Pandas Dataframe

In [160]:
df = pd.DataFrame(list[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### rename the columns

In [161]:
df.columns = ['PostalCode', 'Borough', 'Neighborhood']
df.head()

  PostalCode           Borough      Neighborhood
0        M1A      Not assigned      Not assigned
1        M2A      Not assigned      Not assigned
2        M3A        North York         Parkwoods
3        M4A        North York  Victoria Village
4        M5A  Downtown Toronto      Harbourfront

### are there any postal codes that don't have a Borough assigned?

In [163]:
df[df.Borough == 'Not assigned']

    PostalCode       Borough  Neighborhood
0          M1A  Not assigned  Not assigned
1          M2A  Not assigned  Not assigned
9          M8A  Not assigned  Not assigned
13         M2B  Not assigned  Not assigned
20         M7B  Not assigned  Not assigned
21         M8B  Not assigned  Not assigned
30         M2C  Not assigned  Not assigned
36         M7C  Not assigned  Not assigned
37         M8C  Not assigned  Not assigned
45         M2E  Not assigned  Not assigned
46         M3E  Not assigned  Not assigned
50         M7E  Not assigned  Not assigned
51         M8E  Not assigned  Not assigned
52         M9E  Not assigned  Not assigned
54         M2G  Not assigned  Not assigned
55         M3G  Not assigned  Not assigned
59         M7G  Not assigned  Not assigned
60         M8G  Not assigned  Not assigned
61         M9G  Not assigned  Not assigned
73         M7H  Not assigned  Not assigned
74         M8H  Not assigned  Not assigned
75         M9H  Not assigned  Not assigned
88         M7J  Not assigned  Not assigned
89         M8J  Not assigned  Not assigned
90         M9J  Not assigned  Not assigned
104        M7K  Not assigned  Not assigned
105        M8K  Not assigned  Not assigned
106        M9K  Not assigned  Not assigned
120        M7L  Not assigned  Not assigned
121        M8L  Not assigned  Not assigned
..         ...           ...           ...
202        M7T  Not assigned  Not assigned
203        M8T  Not assigned  Not assigned
204        M9T  Not assigned  Not assigned
209        M2V  Not assigned  Not assigned
210        M3V  Not assigned  Not assigned
223        M6V  Not assigned  Not assigned
224        M7V  Not assigned  Not assigned
237        M2W  Not assigned  Not assigned
238        M3W  Not assigned  Not assigned
241        M6W  Not assigned  Not assigned
242        M7W  Not assigned  Not assigned
247        M2X  Not assigned  Not assigned
248        M3X  Not assigned  Not assigned
253        M6X  Not assigned  Not assigned
254        M7X  Not assigned  Not assigned
258        M9X  Not assigned  Not assigned
259        M1Y  Not assigned  Not assigned
260        M2Y  Not assigned  Not assigned
261        M3Y  Not assigned  Not assigned
263        M5Y  Not assigned  Not assigned
264        M6Y  Not assigned  Not assigned
274        M9Y  Not assigned  Not assigned
275        M1Z  Not assigned  Not assigned
276        M2Z  Not assigned  Not assigned
277        M3Z  Not assigned  Not assigned
278        M4Z  Not assigned  Not assigned
279        M5Z  Not assigned  Not assigned
280        M6Z  Not assigned  Not assigned
281        M7Z  Not assigned  Not assigned
287        M9Z  Not assigned  Not assigned

[77 rows x 3 columns]

### remove "Not assigned" Boroughs

In [166]:
df_assigned = df[df.Borough != 'Not assigned']
df_assigned[df_assigned.Borough == 'Not assigned']

Empty DataFrame
Columns: [PostalCode, Borough, Neighborhood]
Index: []

### are there any "Not assigned" Neighborhoods?

In [167]:
df_assigned[df_assigned.Neighborhood == "Not assigned"]

  PostalCode       Borough  Neighborhood
8        M7A  Queen's Park  Not assigned

### replace "Not assigned" neighborhood with the Borough name

In [171]:
df_assigned.at[8, 'Neighborhood'] = "Queen's Park"

In [172]:
#confirm the neighborhood name change
df_assigned.loc[8]

PostalCode               M7A
Borough         Queen's Park
Neighborhood    Queen's Park
Name: 8, dtype: object

In [177]:
# group the rows by PostalCode and Borough
# separate multiple neighborhood names with a comma
df_city = df_assigned.groupby(['PostalCode', 'Borough'])['Neighborhood'].apply(lambda x: ', '.join(x)).reset_index()
df_city.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [178]:
# show the number of rows and columns
df_city.shape

(103, 3)